<div id="myModal" class="modal">
  <div class="modal-background" onclick="closeModal()"></div>
  <div class="modal-content popup">
    <div class="box">
      <%= render NewProductFormComponent.new(product: @product) %>
    </div>
  </div>
  <button class="modal-close is-link" aria-label="close" onclick="closeModal()"></button>
</div>