<div id="myModal" class="modal">
  <div class="modal-background" onclick="closeModal()"></div>
  <div class="modal-content popup">
    <%= render NewProductFormComponent.new(product: @product) %>
  </div>
  <button class="modal-close is-danger" aria-label="close" onclick="closeModal()"></button>
</div>